<h1>Profile</h1>
<div class="profile">
  <div class="profile_features">
    <br>
    <form method="post" action="<%= main_view_profile_path %>">
      <div class="rwd-table">
        <table>
          <tr>
            <th>GPA</th>
            <th>GRE</th>
            <th>TOEFL</th>
          </tr>
          <tr>
            <td><input value="<%= @current_profile.gpa %>" class="field2" name="gpa"></td>
            <td><input value="<%= @current_profile.gre %>" class="field2" name="gre"></td>
            <td><input value="<%= @current_profile.toefl %>" class="field2" name="toefl"></td>
          </tr>
        </table>
      </div>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>College name</th>
            <th>Year</th>
          </tr>
          <tr>
            <td><input value="<%= @current_profile.college_name %>" class="field2" name="college_name"></td>
            <td><input value="<%= @current_profile.year %>" list="year" class="field2 " name="year">
              <datalist id="year">
                <option value="2022">
                <option value="2023">
                <option value="2024">
              </datalist>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>CAPA</th>
            <th>Interested Major</th>
            <th>Term</th>
          </tr>
          <tr>
            <td><input value="<%= @current_profile.capa %>" class="field2" name="capa"></td>
            <td>
              <select id="majors" name="major">
                <option value="Mechanical Engineering">Mechanical Engineering</option>
                <option value="Computer Science Engineering">Computer Science Engineering</option>
                <option value="Biomedical Engineering">Biomedical Engineering</option>
                <option value="Industrial Engineering">Industrial Engineering</option>
                <option value="Civil Engineering">Civil Engineering</option>
              </select>
            </td>
            <td>
              <select id="term" name="term">
                <option value="Fall">Fall</option>
                <option value="Spring">Spring</option>
                <option value="Summer">Summer</option>`
              </select>
            </td>
          </tr>
        </table>
      </div>
      <br>
      <div class="row">
        <h2>Work experience</h2>
        <input type="submit" input value="Add row" type="submit" formmethod="post" formaction="<%= main_add_experience_path %>" >
        <input type="submit"input value="remove row" type="submit" formmethod="post" formaction="<%= main_remove_experience_path %>" >
      </div>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
          </tr>
          <%(@experience_count).times do |i|%>
            <%if i<@exp_list.length %>
              <% experience = @exp_list[i] %>
                <tr>
                  <td><input class="input_field" name="company[]" value="<%= experience.company_name %>"></td>
                  <td><input class="input_field" name="title[]" value="<%= experience.job_title %>"></td>
                  <td><input class="input_field" name="description[]"  value="<%= experience.description %>"></td>
                  <td><input class="input_field" name="from[]" type="date" value="<%= experience.from %>" ></td>
                  <td><input class="input_field" name="to[]" type="date"  value="<%= experience.to %>"></td>
                </tr>
            <% else %>
              <tr>
                <td><input value="" class="input_field" name="company[]"></td>
                <td><input value="" class="input_field" name="title[]"></td>
                <td><input value="" class="input_field" name="description[]"></td>
                <td><input value="" class="input_field" name="from[]" type="date"></td>
                <td><input value="" class="input_field" name="to[]" type="date"></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <br>
      <div class="row1">
        <% if @resume != "No resume uploaded" %>
          <div>
            <%= link_to "Download Resume", @resume.attachment_url, class: "link1", target: :_blank %> <br>
          </div>
          <div>
            <%= link_to "New Resume", resumes_new_path, class: "link1" %> <br>
          </div>
          <div>
            <%= link_to "Delete",  @resume, method: :delete, class: "link1", confirm: "Are you sure that you wish to delete #{@resume.name}?" %>
          </div>
          <br>
        <% else %>
          <div class="">
            <%= link_to "Upload Resume", resumes_new_path, class: "link1" %> <br>
          </div>
          <br>
        <% end %>
      </div>
      <br>
      <input type="submit" class = "button" value="save">
    </form>
  </div>
  <div class="profile_features2">
    <div class="vl"></div>
  </div>
  <div class="profile_features">
    <h1>Universities Applied</h1>

  </div>
</div>

