%h1 Search Instructor

= form_tag search_instructor_path, :method => :get, :id => 'focus_area_form' do
  Include:
  - @all_focus_areas.each do |efa|
    = efa
    = check_box_tag "focusarea[#{efa}]", 0, @selected_focus_areas.include?(efa), :id => "focus_area_#{efa}"
  = submit_tag 'Refresh', :id => 'efa_submit'

%table#instructors
  %thead
    %tr
      %th Instructor Name
      %th Department
      %th Focus Area
      %th Research
  %tbody
    - @faculty.all.each do |instructor|
      %tr
        %td= instructor[:first_name] + " " + instructor[:last_name]
        %td= instructor[:department]
        %td= instructor[:focus_area]
        %td= instructor[:research]
        %tr

= form_tag main_view_profile_path do
  =submit_tag 'Return',  :id => 'return_button'


