<script type="text/javascript">
  function getTag() {
    const tags = document.querySelector("iframe").contentDocument.body.querySelector("h2")

    alert(tags.length)
    for (let i = 0; i < tags.length; i++) {
      console.log(tags[i])
    }
  }
</script>

<h2>Search US Universities</h2>

<div class="row">
  <h3 class="label">Entry</h3>
  <h3 class="label">search by</h3>
</div>
<form method="post" action="<%= main_intermediate_search_path %>">
  <input name="search" class="field2"/>
  <input  list="filters" class="field2" name="filter">
  <datalist id="filters">
    <option value="ranking">
    <option value="university name">
    <option value="Country">
  </datalist>
  <input type="submit" value="search" class="btn">
</form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <table>
    <th>University</th>
    <th>Country</th>
    <th>National Rank</th>
    <th>World Rank</th>

    <%if !@universities.nil? %>
    <% @universities.each do |record|%>
      <form method="post"action="<%=main_view_university_path %>" >
<!--        <input type="hidden" value="<%#=p.id %>" name="id">-->


        <tr>
          <td><%=record["fields"]["university_name"] %></td>
          <td><%=record["fields"]["country"] %></td>
          <td><%=record["fields"]["national_rank"] %></td>
          <td><%=record["fields"]["world_rank"] %></td>

          <td><input type="submit" class="btn" value="view"></td>
        </tr>
      </form>
  <%end %>
      <%end %>
<!--    <iframe src="https://public.opendatasoft.com/explore/embed/dataset/shanghai-world-university-ranking/table/?sort=university_name&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJzY2F0dGVyIiwiZnVuYyI6IkFWRyIsInlBeGlzIjoid29ybGRfcmFua19pbnQiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiJyYW5nZS1jdXN0b20ifV0sInhBeGlzIjoidW5pdmVyc2l0eV9uYW1lIiwibWF4cG9pbnRzIjo1MCwic29ydCI6IiIsInNlcmllc0JyZWFrZG93biI6InllYXIiLCJjb25maWciOnsiZGF0YXNldCI6InNoYW5naGFpLXdvcmxkLXVuaXZlcnNpdHktcmFua2luZyIsIm9wdGlvbnMiOnsic29ydCI6IndvcmxkX3JhbmsifX19XSwidGltZXNjYWxlIjoiIiwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&rows=60&location=2,4.21494,-21.97266&basemap=jawg.light&static=false&datasetcard=false" width="100%" height="300" frameborder="0"></iframe>-->
<!--    <iframe src="https://public.opendatasoft.com/explore/embed/dataset/shanghai-world-university-ranking/map/?sort=world_rank&dataChart=eyJxdWVyaWVzIjpbeyJjaGFydHMiOlt7InR5cGUiOiJzY2F0dGVyIiwiZnVuYyI6IkFWRyIsInlBeGlzIjoid29ybGRfcmFua19pbnQiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiJyYW5nZS1jdXN0b20ifV0sInhBeGlzIjoidW5pdmVyc2l0eV9uYW1lIiwibWF4cG9pbnRzIjo1MCwic29ydCI6IiIsInNlcmllc0JyZWFrZG93biI6InllYXIiLCJjb25maWciOnsiZGF0YXNldCI6InNoYW5naGFpLXdvcmxkLXVuaXZlcnNpdHktcmFua2luZyIsIm9wdGlvbnMiOnsic29ydCI6IndvcmxkX3JhbmsifX19XSwidGltZXNjYWxlIjoiIiwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&rows=20&location=2,57.70415,26.19141&basemap=jawg.light&static=false&datasetcard=true&scrollWheelZoom=false" width="100%" height="300" frameborder="0"></iframe>-->
    <%= button_tag "Do It", type: 'button', onclick: "getTag()", class: 'btn btn-default' %>
  </table>
