<h1>Profile</h1>
<div class="profile">
  <div class="profile_features">
    <br>
    <form method="post" action="<%= main_edit_profile_path %>">
      <input type="hidden" name="hidden">
      <div class="rwd-table">
        <table>
          <tr>
            <th>GPA</th>
            <th>GRE</th>
            <th>TOEFL</th>
          </tr>
          <tr>
            <td><label class="field2" style="text-align: center"><%= @current_profile.gpa %></label></td>
            <td><label class="field2" style="text-align: center"><%= @current_profile.gre %></label></td>
            <td><label class="field2" style="text-align: center"><%= @current_profile.toefl %></label></td>
          </tr>
        </table>
      </div>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>College name</th>
            <th>Year</th>
          </tr>
          <tr>
            <td><label class="field2" style="text-align: center"><%= @current_profile.college_name %></label></td>
            <td><label class="field2" style="text-align: center"><%= @current_profile.year %></label></td>
          </tr>
        </table>
      </div>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>CAPA</th>
            <th>Interested Major</th>
            <th>Term</th>
          </tr>
          <tr>
            <td><label class="field2" style="text-align: center"><%= @current_profile.capa %></label></td>
            <td><label class="field2" style="text-align: center"><%= @current_profile.interested_major %></label></td>
            <td><label class="field2" style="text-align: center"><%= @current_profile.term %></label></td>
          </tr>
        </table>
      </div>
      <br>
      <h2>Work experience</h2>
      <br>
      <div class="rwd-table">
        <table>
          <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
          </tr>
          <%@experiences.all.each do |experience| %>
              <tr>
                <td><label class="field2" style="text-align: center"><%= experience.company_name %></label></td>
                <td><label class="field2" style="text-align: center"><%= experience.job_title %></label></td>
                <td><label class="field2" style="text-align: center"><%= experience.description %></label></td>
                <td><label class="field2" style="text-align: center"><%= experience.from %></label></td>
                <td><label class="field2" style="text-align: center"><%= experience.to %></label></td>
              </tr>
            <% end %>
        </table>
      </div>
      <br>
      <div class="row">
        <% if @resume != "No resume uploaded" %>
          <div>
            <%= link_to "Download Resume", @resume.attachment_url, class: "link1", target: :_blank %>
          </div>
        <% end %>
      </div>
      <br>
      <input type="submit" class="button" value="Edit profile">
    </form>
    <br>
  </div>

  <div class="profile_features2">
    <div class="vl"></div>
  </div>
  <div class="profile_features">
    <h1>Universities Applied</h1>
    <% @applied_departments.each do |k,v| %>
      <br>
      <h2><%=k %></h2>
      <div class="rwd-table">
      <table>
        <tr>
          <th>Department</th>
          <th>Status</th>
        </tr>
        <%v.each do |a| %>
          <tr>
            <td><%=a[0] %></td>
            <td><%=a[1] %></td>
          </tr>
        <%end %>
      </table>
      </div>
      <br>
    <%end %>
  </div>
</div>
