<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "faculty_members/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first name" %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last name" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "university", autofocus: true%>
  </div>

  <div class="field">
    <%= f.label :university %><br />
    <%= f.collection_select :university, University.order(:name),:name,:name, include_blank: true, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.collection_select :department_id, Department.order(:name),:id,:name, include_blank: true, autofocus: true%>
  </div>
  <div class="field">
    <%= f.label :focus_area %><br />
    <%= f.select :focus_area, [['Applied Physics','Applied Physics'],['Big Data/Data Mining/Machine Learning','Big Data/Data Mining/Machine Learning'],['Bioinformatics','Bioinformatics'],["Business","Business"],["Communication Systems","Communication Systems"],["Computer Breadth","Computer Breadth"],["Computer Hardware","Computer Hardware"],["Computer Networks","Computer Networks"],["Control Systems","Control Systems"],["Electrical Breadth","Electrical Breadth"],["Electrical Circuits","Electrical Circuits"],["Entrepreneurship","Entrepreneurship"],["Internet of Things","Internet of Things"],["Photonic Systems","Photonic Systems"],["Power Systems","Power Systems"],["Pre-Law","Pre-Law"],["Pre-Medicine","Pre-Medicine"],["Quantum Computing and Device","Quantum Computing and Device"],["Quantum Computing and Device","Quantum Computing and Device"],["RF Electronics","RF Electronics"],["Semiconductor Devices","Semiconductor Devices"],["Signal & Imaging Processing","Signal & Imaging Processing"],["Software Engineering","Software Engineering"],["Sustainability","Sustainability"]] %>
  </div>
  <div class="field">
    <%= f.label :research_url %><br />
    <%= f.text_field :research_url, autofocus: true, autocomplete: "last name" %>
  </div>
  <div class="field">
    <%= f.label :chair %><br />
    <%= f.select :chair, [["Yes",true],["No",false]] %>
  </div>
  <div class="field">
    <%= f.submit "Sign up" %>
  </div>

<% end %>

<%= render "faculty_members/shared/links" %>
