<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @application.student.name %> 's Application Decision</h1>
<p>
  Dear <%= @application.student.name %>,
  <br>
  Thank you for your application to <%= @application.university.name %>'s <%= @application.department.name %> program.
  After careful consideration, the selection committee is unable to make an offer of
  admission at this time, but would like to offer you a place on our wait list.
  Thank you for your application and interest in our program.
  <br>
</p>
<p>
  Sincerely,<br>
  The admissions department at <%= @application.university.name %></p>
</body>
</html>
