<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @application.student.first_name %> 's Application Decision</h1>
<p>
  Dear <%= @application.student.first_name %> <%= @application.student.last_name %>,
  <br>
  Congratulations! It is with great pleasure that we inform you
  of your acceptance to the <%= @application.department %> department at <%= @application.university %>. You have been given
  this opportunity in recognition of your outstanding academic and personal achievements.
  <br>
</p>
<p>
  We look forward to having you join us in the fall.
</p>
<p>
  Sincerely,<br>
  The admissions department at <%= @application.university.name %></p>
</body>
</html>
