<div class="Decision">
  <h1> Welcome <%= @faculty.first_name%> <%=@faculty.last_name%></h1>

  <div class="rwd-table">
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Current Decision</th>
        <th>Other Reviews</th>
        <th>Review Profile</th>
        <% if @faculty.chair %>
          <th>Accept</th>
          <th>Reject</th>
          <th>Waitlist</th>
        <% end %>
        <th>Contact</th>
      </tr>
      <% @student_app_dict.each do |student, app| %>
        <tr>
          <td><%= student.first_name %></td>
          <td><%= student.last_name %></td>
          <td><%= student.email %></td>
          <td><%= app.application_status %></td>
          <td><%= button_to 'Other Reviews', faculty_members_faculty_evaluations_path(student, student_id: student.id), class: "btn btn-danger" %></td>
          <% if app.application_status == "pending"%>
            <td><%= link_to "Review", profile_viewer_path(app, student_id: student.id), class: 'link1' %></td>
          <% else %>
            <td><label>Application Closed</label></td>
          <% end %>
          <% if @faculty.chair &&  app.application_status == "pending"%>
            <td>
                <%= button_to "Accept", faculty_members_accept_application_path(student, student_id: student.id), class: "btn btn-danger", confirm: "Are you sure that you wish to accept #{student.first_name} #{student.last_name}?" %>
            </td>
            <td>
                <%= button_to "Reject", faculty_members_reject_application_path(student, student_id: student.id), class: "btn btn-danger", confirm: "Are you sure that you wish to reject #{student.first_name} #{student.last_name}?" %>
            </td>
            <td>
                <%= button_to "Waitlist", faculty_members_waitlist_application_path(student, student_id: student.id), class: "btn btn-danger", confirm: "Are you sure that you wish to waitlist #{student.first_name} #{student.last_name}?" %>
            </td>
          <% elsif @faculty.chair && app.application_status != "pending" %>
            <td>
              <label>Application Closed</label>
            </td>
            <td>
              <label>Application Closed</label>
            </td>
            <td>
              <label>Application Closed</label>
            </td>
          <% end %>
          <td><%= link_to "Email", create_email_path(student_id: student.id), class: "link1" %></td>
        </tr>
      <% end %>
    </table>

  </div>

</div>
