<h1>Faculty Evaluations</h1>
<h3>Student: <%= @student_name %></h3>
<table class="rwd-table">
  <tr>
    <th>Professor Name</th>
    <th>Date of Evaluation</th>
    <th>Score</th>
    <th>Comment</th>
  </tr>
  <tr>
    <% @faculty_eval_dict.each do |faculty, eval| %>
      <td><%= faculty.first_name %> <%= faculty.last_name %></td>
      <td><%= eval.created_at %></td>
      <td><%= eval.score %></td>
      <td><%= eval.comment %></td>
    <% end %>
  </tr>
</table>
