<h1>My Evaluations</h1>
<form method="post" action="<%= main_index_path %>">
</form>
<table class="rwd-table">
  <tr>
    <th>Student Name</th>
    <th>Email</th>
    <th>Applied Term</th>
    <th>Date of Evaluation</th>
    <th>Score</th>
    <th>Comment</th>
    <th>Status</th>
    <th>Contact</th>
  </tr>
  <% unless @student_eval_dict.nil? %>
    <%  @student_eval_dict.each do |student, eval|  %>
    <tr>
          <td><%= student.first_name  %></td>
          <td><%= student.last_name %></td>
          <td><%= eval.applied_term  %></td>
          <td><%= eval.created_at %></td>
          <td><%= eval.score  %></td>
          <td><%= eval.comment %></td>
          <td><%= eval.status  %></td>
          <td><%= link_to "Email", create_email_path(student_id: student.id), class: "link1"%></td>
    </tr>
    <%  end  %>
  <%  end %>
</table>
