!!!
%html
  %head
    %title Simplaply
    = stylesheet_link_tag 'application', 'media' => 'all', "data-turbolinks-track" => true
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %h1.title Simplaply
    -if student_signed_in?
      .row1

        = form_tag main_intermediate_logout_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Log out'
        = form_tag main_view_profile_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Profiles'
        = form_tag main_search_universities_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Search Universities'
        = form_tag main_search_instructor_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Search Instructors'
    -else
      -if !@id.nil? && @user_type == :faculty or faculty_member_signed_in?
        .row1
          = form_tag main_intermediate_logout_path, :method => 'post', :class => 'form form-inline' do
            = submit_tag 'Log out'
          = form_tag faculty_profile_path, :method => 'get', :class => 'form form-inline' do
            = submit_tag 'My Profile'
          = form_tag my_evaluations_path, :method => 'get', :class => 'form form-inline' do
            = submit_tag 'My Evaluations'

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
