!!!
%html
  %head
    %title Simplaply
    = stylesheet_link_tag 'application', 'media' => 'all', "data-turbolinks-track" => true
    = javascript_include_tag 'application', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %h1.title Simplaply
    -if !@id.nil? && @user_type == :student
      .row

        = form_tag main_intermediate_logout_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Log out'
        = form_tag main_view_profile_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Profiles'
        = form_tag main_search_universities_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Search Universities'
        = form_tag main_search_instructor_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Search Instructors'
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
