!!!
%html
  %head
    %title ApplicationHub
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1.title ApplicationHub
    -if student_signed_in?
      .row1

        = form_tag intermediate_logout_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'Log out'
        = form_tag view_profile_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'Profiles'
        = form_tag search_universities_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'Search Universities'
        = form_tag search_instructor_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'Search Instructors'
        = form_tag predictor_predict_probability_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Predictor'
    -elsif faculty_member_signed_in?
      .row1
        = form_tag main_intermediate_logout_path, :method => 'post', :class => 'form form-inline' do
          = submit_tag 'Log out'
        -# = form_tag faculty_profile_path, :method => 'get', :class => 'form form-inline' do
        -#   = submit_tag 'My Profile'
        = form_tag my_evaluations_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'My Evaluations'
        = form_tag admission_decision_path, :method => 'get', :class => 'form form-inline' do
          = submit_tag 'Admission Review'
        -if current_faculty_member.chair?
          = form_tag new_faculty_member_registration_path, :method => 'get', :class => 'form form-inline' do
            = submit_tag 'Add Faculty'


    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
